*
{
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    background-color: #d1d1d1;
}
h1
{
    color: red;
    font-size: 3vw;
    height: fit-content;
}
h2
{
    color: #c20000;
    font-size: 2vw;
    height: fit-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
ol
{
    list-style-type: check-mark;
}
.sidebar
{
    position: fixed;
    display: flex;
    left: 0;
    width: 15%;
    height: 100%;
    background: #434249;
}
.sidebar img
{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: auto;
    margin-top: 2vh;
}
.scrollbox
{
    overflow: auto;
}
.content
{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 200vh;
}
.one{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
}
.two{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;   
}
.two p
{
    padding: 1vw;
    font-size: 2vw;
}

.three{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    align-content: flex-start;
}
.three h1{
    font-size: 3vw;
    padding: 1vw;
}
.three p{
    font-size: 2vw;
    padding: 1vw;
    text-align: center;
    margin: auto;

}
.three ol{
    margin: auto;
    text-align: center;
    font-size: 1.5vw;
    padding: 1em;
    

}
.four{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.four h1
{
  font-size: 3vw;
  padding: 3vw;
}
.four img{
    width: 100%;
    height: auto;
}
.five{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.five p{
    font-size: 3vw;
    padding: 0.5em;
}
.five img{
    width: 80%;
    height: auto;
}
.six{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.six img{
    width: 60%;
    height: auto;;
}
    
.seven{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.seven p
{
    font-size: 3.5vw;
    background: pink;
    margin-top: 0.5em;
    border-radius: 8px;
    border: solid rgb(151, 0, 0) 4px;
}
.seven img
{
    width: 70%;
    height: auto;
}
.eight{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
}
.eight h1{
    font-size: 3vw;
    padding: 1vw;
}
.eight p{
    font-size: 2.1vw;
    text-align: center;
    margin: auto;
    padding: 1vw;

}
.eight ul{
    font-size: 2.1vw;
    padding: 1em;
    text-align: left;
}
.nine{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;  ;
}
.nine p{
    font-size: 2.1vw;
    text-align: center;
    margin: auto;
    padding: 1vw;

}
.ten{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.ten h1
{
  font-size: 3vw;
  padding: 3vw;
}
.ten img
{
    width: 100%;
    height: auto;
}
.eleven{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: flex-start;
    justify-content: left;  
}
.eleven h1
{
  font-size: 3vw;
  padding: 3vw;
}
.eleven ul
{
    font-size: 2.5vw;
    padding: 4vw;
    padding-top: 1vw;   
    text-align: left;
}
.twelve{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.twelve h1
{
  font-size: 3vw;
  padding: 3vw;
}
.twelve ul
{
    font-size: 1.8vw;
    padding: 4vw;
    padding-top: 1vw;   
    text-align: left;
}
.thirteen{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.thirteen h1
{
  font-size: 4vw;
  padding: 2vw;
}
.thirteen ul
{
    font-size: 1.8vw;
    padding: 2vw;
    padding-top: 1vw;   
    text-align: left;
    border-bottom: solid black;
}
.thirteen p
{
    font-size: 2vw;
}
.thirteen img
{
    width: 70%;
    height: auto;
}
.fourteen{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.fourteen h1{
    font-size:3vw;
    padding: 3vw;
}
.fourteen ul{
    text-align: left;
    font-size: 1.2vw;
    padding: 2.5vw;
    padding-top: 0vw;
}
.fourteen p
{
    font-size: 1.5vw;
    padding: 1vw;
}
.fifteen{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; 
}
.fifteen h1{
    font-size:3vw;
    padding: 3vw;
    justify-content: center;
}
.fifteen ul{
    text-align: left;  
    font-size: 1.2vw;
    padding: 2.5vw;
    padding-top: 0vw;
    
}
.fifteen p
{
    font-size: 1.5vw;
    padding: 2vw;
}
.sixteen{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.sixteen ul{
    text-align: left;  
    font-size: 1.2vw;
    padding: 2.5vw;
    padding-top: 0vw;
    
}
.sixteen p
{
    font-size: 1.5vw;
    padding: 2vw;
}


.seventeen{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.seventeen img{
    width: 100%;
    height: auto;
}
.eighteen{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.eighteen ul{
    text-align: left;  
    font-size: 1.5vw;
    padding: 2.5vw;
    padding-top: 0vw;
    
}
.eighteen p
{
    font-size: 1.7vw;
    padding: 2vw;
}
.nineteen{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;   
    justify-content: center;
}
.nineteen ul{
    text-align: left;  
    font-size: 1.5vw;
    padding: 2.5vw;
    padding-top: 0vw;
    
}
.nineteen p
{
    font-size: 1.7vw;
    padding: 2vw;
}
.nineteen h1{
    justify-content: center;
}
.twenty{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center; 
    justify-content: center; 
}
.twenty ul{
    text-align: left;  
    font-size: 1.5vw;
    padding: 2.5vw;
    padding-top: 0vw;
    
}
.twenty p
{
    font-size: 1.7vw;
    padding: 2vw;
}
.twentyone{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;  
    justify-content: center;
}
.twentyone ul{
    text-align: left;  
    font-size: 1.5vw;
    padding: 3vw;
    padding-top: 0vw;
    
}
.twentyone p
{
    font-size: 1.7vw;
    padding: 2vw;
}
.twentytwo{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;    
    justify-content: center;
}
.twentytwo ul{
    text-align: left;  
    font-size: 1.5vw;
    padding: 2.5vw;
    padding-top: 0vw;
    
}
.twentytwo p
{
    font-size: 1.7vw;
    padding: 2vw;
}
.twentythree{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.twentythree ul{
    text-align: left;  
    font-size: 1.3vw;
    padding: 2.5vw;
    padding-top: 0vw;
    
}
.twentythree p
{
    font-size: 1.7vw;
    padding: 2vw;
}
.twentyfour{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.twentyfour ul{
    text-align: left;  
    font-size: 1.3vw;
    padding: 2.5vw;
    padding-top: 0vw;
    
}
.twentyfour p
{
    font-size: 1.7vw;
    padding: 2vw;
}
.twentyfive{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: flex-start;
}
.twentyfive ul{
    text-align: left;  
    font-size: 1.3vw;
    padding: 2.5vw;
    padding-top: 0vw;
    
}
.twentyfive p
{
    font-size: 1.2vw;
    padding-left: 2.5vw;
}
.twentysix{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start center;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.twentysix ul
{
    font-size: 2.5vw;
    padding: 4vw;
    padding-right: 22vw;
    padding-left: 0vw;
    padding-top: 5vw;
    padding-bottom: 5vw;   
    text-align: left;
    justify-content: center
}
.twentyseven{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: flex-start;
}
.twentyseven ul{
    text-align: left;  
    font-size: 1.5vw;
    padding-left: 2vw;
    padding-bottom: 1vw;
    
}
.twentyseven p
{
    font-size: 1.5vw;
    text-align: left; 
    padding: 0.6vw;

}
.twentyeight{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    justify-content: center;  
}
.twentyeight ul
{
    font-size: 1vw;
    padding: 4vw;
    padding-right: 12vw;
    padding-left: 0vw;
    padding-top: 3vw;
    padding-bottom: 3vw;   
    text-align: left;
    justify-content: flex-start;
}
.twentyeight p
{
    font-size: 1.3vw;
}
.twentynine{
    background: linear-gradient(170deg, white, rgba(182, 182, 182, 0.933), rgba(116, 116, 116, 0.933));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40vw;
    margin-top: 2vw;
    margin-left: 15%;
}



@counter-style check-mark {
    system: cyclic;
    symbols: "\2713";
    suffix: " ";
  }